/*
    Formulaire
 */

div#form_recette {
    border:1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
}

div#form_recette div.form-container {
    padding: 10px;
}

#form_recette ul {
    list-style-type:none;
}